body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho{
    color: white;
    background-color: rgb(53, 4, 53);
    text-align: center;
    padding: 30px;
}

.cabecalho h3{
    color: rgb(8, 206, 114);
}

p .alinha{
    text-align: right;
}
.img-agro{
    width: 300px;
}

.br-3{
    border-radius: 15px;
}

.img-card{
    max-height: 250px;
}

.img-slide{
    max-height: 400px;
}

.footer {
    width: 100%; /* Garante que o rodapé ocupe toda a largura */
    background-color: rgb(53, 4, 53); /* Cor de fundo */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 15px; /* Padding vertical */
    margin-top: auto; /* Faz o rodapé empurrar para o final */
}

.container {
    flex: 1 0 auto; /* Permite que o contêiner cresça e ocupe espaço */
}

